.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
  }

  .score {
    color: black;
    font-size: 60px;
    padding: 5px 10px;
  }

  .imgs {
    width: 25%;
    align-self:center;
    padding: 0px;
    position: relative;
    margin-top: 40px;  
  }

  

@media (max-width: 800px) {
    .result {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-around;
    }
    .imgs {
      width: 85%;
      padding: 0;
      padding-top: 20px;
    }
    .score {
      width: 100%;
    }
  }
