.Header{
display: flex;
flex-direction: column;
align-items: center;
}

.titles{
text-transform: uppercase;
font-size: 7vw;
font-family: 'Courier New', Courier, monospace;
cursor: pointer;
text-align: center;
color: black;
}

.line{
    margin: 10px;
    width: 100%;
    background-color: #3949ab;

}

.error{
    
    width:100%;
    padding: 10;
    margin-Bottom: 10;
    border-radius: 4;
    background-Color: "#d50000";
    text-Align: "center";
    color: "white";
    text-Transform: "capitalize";

}